<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findAll</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script> <!-- ajax를 위한 jquery -->
    <script>
        function detail(memberId)   {
            console.log(memberId);
            const reqUrl ="/member/" + memberId;

                $.ajax({
                    type:'post',
                    url:reqUrl,
                    dataType:'json',
                    success: function (result)  {
                        console.log(result);
                        let output = "";
                        output += "<table>\n" +
                        "    <thead>\n" +
                        "        <tr>\n" +
                        "            <th>번호</th>\n" +
                        "            <th>이메일</th>\n" +
                        "            <th>비밀번호</th>\n" +
                        "            <th>이름</th>\n" +
                        "        </tr>\n" +
                        "    </thead>\n" +
                        "    <tbody>\n" +
                        "        <tr>\n" +
                        "            <td>" + result.memberId + "</td>\n" +
                        "            <td>" + result.memberEmail + "</td>\n" +
                        "            <td>" + result.memberPassword + "</td>\n" +
                        "            <td>" + result.memberName + "</td>\n" +
                        "        </tr>\n" +
                        "    </tbody>\n" +
                        "</table>";
                        document.getElementById("detail-view").innerHTML = output;
                    },
                    error: function (){
                        alert: ('ajax실패');
                    }

                })
        }
    </script>

</head>
<body>
    <h2> findAll.html</h2>

<table>

        <thead>
            <tr>
                <th> 회원번호 </th>
                <th> 이메일 </th>
                <th> 비밀번호 </th>
                <th> 회원이름</th>
                <th> 조회 </th>
                <th> 조회 ajax </th>
                <th> 삭제 get </th>
                <th> 삭제 delete </th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="member: ${memberList}">
                <td th:text="${member.memberId}"> 번호 </td>
                <td th:text="${member.memberEmail}"> 메일 </td>
                <td th:text="${member.memberPassword}"> 비번 </td>
                <td th:text="${member.memberName}"> 이름 </td>
                <td><a th:href="@{|/member/${member.memberId}|}">조회</a></td>
                <td><button th:onclick="detail([[${member.memberId}]])">조회ajax</button></td>
                <td><a th:href="@{|/member/delete/${member.memberId}|}">삭제</a></td>
                <td></td>

            </tr>
        </tbody>
</table>
    <div id = "detail-view"></div>


</body>
</html>