<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>findAll</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script> <!-- ajax를 위한 jquery -->
    <script>
        function detail(memberId)   {
            console.log(memberId);
            const reqUrl ="/member/" + memberId;

                $.ajax({
                    type:'post',
                    url:reqUrl,
                    dataType:'json',
                    success: function (result)  {
                        console.log(result);
                        let output = "";
                        output += "<table>\n" +
                        "    <thead>\n" +
                        "        <tr>\n" +
                        "            <th>번호</th>\n" +
                        "            <th>이메일</th>\n" +
                        "            <th>비밀번호</th>\n" +
                        "            <th>이름</th>\n" +
                        "        </tr>\n" +
                        "    </thead>\n" +
                        "    <tbody>\n" +
                        "        <tr>\n" +
                        "            <td>" + result.memberId + "</td>\n" +
                        "            <td>" + result.memberEmail + "</td>\n" +
                        "            <td>" + result.memberPassword + "</td>\n" +
                        "            <td>" + result.memberName + "</td>\n" +
                        "        </tr>\n" +
                        "    </tbody>\n" +
                        "</table>";
                        document.getElementById("detail-view").innerHTML = output;
                    },
                    error: function (){
                        alert: ('ajax실패');
                    }

                })
        }

       function deleteById(memberId)    {
           console.log(memberId);
           const reqUrl="/member/"+ memberId;

           $.ajax({
               type: 'delete',
               url:reqUrl,
               /*dataType: 'json', 데이터를 받아올 필요 없음.*/
               success: function ()   {
                   // 삭제를 성공하면 회원목록 페이지를 다시 요청하도록 주소재요청
                   location.href = '/member/'; //js문법
               },
                    error : function () {
                            alert("ajax실패");
                    }
           });
       }
       /* 요즘방식의 함수선언문...  */
       // 함수이름 : deleteFn   /   매개변수 : memberId
        const deleteFn = (memberId) => {
            console.log(memberId);
        }

        const deleteFn = () =>  {
            //매개변수가 없다면 이렇게 사용
        }

    </script>

</head>
<body>
    <h2> findAll.html</h2>

<table>

        <thead>
            <tr>
                <th> 회원번호 </th>
                <th> 이메일 </th>
                <th> 비밀번호 </th>
                <th> 회원이름</th>
                <th> 조회 </th>
                <th> 조회 ajax </th>
                <th> 삭제 get </th>
                <th> 삭제 delete </th>

            </tr>
        </thead>

        <tbody>
            <tr th:each="member: ${memberList}">
                <td th:text="${member.memberId}"> 번호 </td>
                <td th:text="${member.memberEmail}"> 메일 </td>
                <td th:text="${member.memberPassword}"> 비번 </td>
                <td th:text="${member.memberName}"> 이름 </td>
                <td><a th:href="@{|/member/${member.memberId}|}">조회</a></td>
                <td><button th:onclick="detail([[${member.memberId}]])">조회ajax</button></td>
                <td><a th:href="@{|/member/delete/${member.memberId}|}">삭제delete</a></td>

                <td><!--220110-->
                    <button th:onclick="deleteById([[${member.memberId}]])">삭제ajax</button>
                    <!-- 삭제버튼 클릭시 deleteById 함수호출(Delete 는 예약어라서 사용할 수 없음),
                    함수호출하면서 memberId 넘겨야 함.
                    delete 함수(): /member/memberId 주소를 요청하며, 요청 메서드는 delete -->

                </td>

            </tr>
        </tbody>
</table>
    <div id = "detail-view"></div>


</body>
</html>